<% provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<div class="span8">
    <% if @user.offers.any? %>
      <h3>Offers (<%= @user.offers.count %>)</h3>
      <ol class="offers">
        <%= render @offers %>
      </ol>
      <%= will_paginate @offers %>
    <% end %>
  </div>
