<li id="<%= feed_item.id %>">
  <div class="offer">
       
       <div class="offertitle"><br /> <%= link_to  feed_item.title, feed_item %><br /> </div>       
       <div class="offerphoto">
       	<!--<%= @offer.photo %> -->
       	</br>
       	
     
     <% if @offer_attachments.empty? %>
     <%= image_tag "home.jpg" %> 
     <%  @count= 2%>
     <% end %>	
       	
<% @offer_attachments.each do |p| %>
     
  	
  	
  	<% if p.offer_id == feed_item.id  %>
  <%= image_tag p.image %> 
 <%  @count= 2%>
    
    <% end %>
     
     
        
  
  	
	<% end %> 
	
	
	<% if @count== 1%>
     <%= image_tag "home.jpg" %> 
     <% end %>	
	
 <%  @count= 1%>
     
        
  
  	

       	</br>
       </div>
        
        <div class="offerdetails">
        	
		
		<b>Cena:</b>
		<%= feed_item.price %> zł
		<br />
		<b>Typ:</b>
		 <%= feed_item.typeM %>
		<br />		
		<b>Liczba pokoi:</b>
		<%= feed_item.roomcount %>
		<br />	
		<b>Metraż:</b>
		<%= feed_item.metrage %> m^2
		<br />
		<b>Województwo:</b>
		<%= feed_item.state %>
			<br />	
		<b>Miasto:</b>
		<%= feed_item.city %>
			<br />	
		<b>Ulica:</b>
		<%= feed_item.street %>
		<br />
		<b>Użytkownik</b>
		<%= feed_item.user.name %>
		<br />
  <span class="timestamp">
    Dodane <%= time_ago_in_words(feed_item.created_at) %> temu.
  </span>
  <% if current_user?(feed_item.user) %>
  	<b><%= link_to 'Edit', edit_offer_path(feed_item) %></b>
    <%= link_to "Usuń", feed_item, method: :delete,
                                     data: { confirm: "Jesteś tego pewien?" },
                                     title: feed_item.title %>
  <% end %>
</li>