<%= form_for(@offer, :html => { :multipart => true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="field">
    Tytuł<br>
    <%= f.text_field :title %>
  </div>
  
  
  
  
  <div class="field">
    Opis<br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    Rodzaj<br>
    <%= f.select :typeM, [['Kamienica','Kamienica'],
                         ['Blok','Blok'],
                         ['Dom wielorodzinny','Dom wielorodzinny'],
                         ['Apartamentowiec','Apartamentowiec'],
                         ['Wieżowiec','Wieżowiec'],
                         ['Inne','Inne']]%>
  </div>
  <div class="field">
    Photo<br>
    <%= f.fields_for :post_attachments do |p| %>
     <div class="field">
      
       <%= p.file_field :image , :multiple => true, name: "offer_attachments[image][]"%>
     </div>
   <% end %>
  </div>
  <div class="field">
    Ulica<br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    Miasto<br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    Województwo<br>
    <%= f.select :state, [['dolnośląskie','dolnośląskie'],
                         ['kujawsko-pomorskie','kujawsko-pomorskie'],
                         ['lubelskie','lubelskie'],
                         ['lubuskie','lubuskie'],
                         ['łódzkie','łódzkie'],
                         ['małopolskie','małopolskie'],
                         ['mazowieckie','mazowieckie'],
                         ['opolskie','opolskie'],
                         ['podkarpackie','podkarpackie'],
                         ['podlaskie','podlaskie'],
                         ['pomorskie','pomorskie'],
                         ['śląskie','śląskie'],
                         ['świętokrzyskie','świętokrzyskie'],
                         ['warmińsko-mazurskie','warmińsko-mazurskie'],
                         ['wielkopolskie','wielkopolskie'],
                         ['zachodniopomorskie','zachodniopomorskie']] %>

  </div>
  <div class="field">
    Metraż<br>
    <%= f.number_field :metrage %>
  </div>
  <div class="field">
    Ilość pokoi<br>
    <%= f.number_field :roomcount %>
  </div>
  <div class="field">
    Cena<br>
    <%= f.number_field :price %>
  </div>
  <%= f.submit "Dodaj", class: "btn btn-large btn-primary" %>
<% end %>