<h1>
  Oferty w naszym serwisie
</h1>
<%= will_paginate %>
<table>
  
  
  
  

  <tbody>
  	  
    <% @offers.each do |offer| %>
  
      <tr>
      	
      	<div class="offer">
       <div class="offertitle"><br /> <%= link_to offer.title, offer %><br /> </div>
      
       
       <div class="offerphoto">
       	<!--<%= offer.photo %> -->
       	</br>
       	
       	<%= image_tag "home.jpg" %>
       	</br>
       </div>
        
        <div class="offerdetails">
        	
		
		<b>Cena:</b>
		<%= offer.price %> zł
		<br />
		<b>Typ:</b>
		 <%= offer.typeM %>
		<br />		
		<b>Liczba pokoi:</b>
		<%= offer.roomcount %>
		<br />	
		<b>Metraż:</b>
		<%= offer.metrage %> m^2
		<br />
		<b>Województwo:</b>
		<%= offer.state %>
			<br />	
		<b>Miasto:</b>
		<%= offer.city %>
			<br />	
		<b>Ulica:</b>
		<%= offer.street %>
		<br />
		<b>Użytkownik</b>
		<%= offer.user.name %>
		<br />
		   <span class="timestamp">
    Dodane <%= time_ago_in_words(offer.created_at) %> temu.
    <% if current_user %>
        <% if current_user?(offer.user) || current_user.admin? %>
          <b> <%= link_to 'Usuń', offer, method: :delete, data: { confirm: 'Jesteś tego pewny?' } %></b>
      <% end %>
  <% end %>
  </span>
		<br/>
		
        </div>
      
       
      
      </tr>
      
    <% end %>
   
  </tbody>
</table>
<%= will_paginate %>
<br>

<%= link_to 'New Offer', new_offer_path %>
