

<table>
  
  
  
  

  <tbody>
  	  
    <% @offers.each do |offer| %>
  
      <tr>
      	
      	<div class="offer">
       <div class="offertitle"><br /> <%= offer.title %><br /> </div>
      
       
       <div class="offerphoto">
       	<!--<%= offer.photo %> -->
       	</br>
       	
       	<%= image_tag "home.jpg" %>
       	</br>
       </div>
        
        <div class="offerdetails">
        	
		
		<b>Cena:</b>
		<%= offer.price %> zł
		<br />
		<b>Typ:</b>
		 <%= offer.typeM %>
		<br />		
		<b>Liczba pokoi:</b>
		<%= offer.roomcount %>
		<br />	
		<b>Metraż:</b>
		<%= offer.metrage %> m^2
		<br />
		<b>Województwo:</b>
		<%= offer.state %>
			<br />	
		<b>Miasto:</b>
		<%= offer.city %>
			<br />	
		<b>Ulica:</b>
		<%= offer.street %>
		<br />
		<b>Uużytkownik</b>
		<%= offer.user_id %>
		<br />
			</div>
        <div class="offerD">
        	<b>Opis:</b>
        	<br />
        	  <%= offer.description %>
        </div>
        
       
        <div class="offercontent">
        	<%= link_to 'Show', offer %>
        	
        	<%= link_to 'Edit', edit_offer_path(offer) %>
        	
        	<%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Jesteś pewien?' } %>
        	
        </div>
        
      
       
         </div>
      </tr>
      
    <% end %>
   
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
