<p id="notice"><%= notice %></p>


  <div class="photogallery">
	    	 	</br>  	
	    	 	Galeria :
       	</br>
       		</br>
       			
     <!--  	<%= image_tag "home.jpg" %> -->
     <% if @offer_attachments.empty? %>
     <%= image_tag "home.jpg" %> 
     <% end %>
     
   
	
	<%= div_for(@offer_attachments, class: "imageContainer") do |p| %>
	<%=link_to image_tag(p.image),p,class: "fancybox" %>
 
<% end %>
    
    
    
       	</br> 	
	
	</div>

<div class="offer">
	    	
       <div class="offertitle">
       	<br /> <%= @offer.title %><br /> 
       	
       	</div>
      
       
       <div class="offerphoto">
       	<!--<%= @offer.photo %> -->
       	</br>
       	
     <!--  	<%= image_tag "home.jpg" %> -->
     <% if @offer_attachments.empty? %>
     <%= image_tag "home.jpg" %> 
     <% end %>
     
    <% @offer_attachments.each do |p| %>
     
  	
  			<%=link_to image_tag(p.image),p, class: "fancybox"%>
  			
  			
  	<% break %> 
	<% end %> 
	
    
    
    
       	</br>
       </div>
       
        
        <div class="offerdetails">
        	
		
		<b>Cena:</b>
		<%= @offer.price %> zł
		<br />
		<b>Typ:</b>
		 <%= @offer.typeM %>
		<br />		
		<b>Liczba pokoi:</b>
		<%= @offer.roomcount %>
		<br />	
		<b>Metraż:</b>
		<%= @offer.metrage %> m^2
		<br />
		<b>Województwo:</b>
		<%= @offer.state %>
			<br />	
		<b>Miasto:</b>
		<%= @offer.city %>
			<br />	
		<b>Ulica:</b>
		<%= @offer.street %>
		<br />
		<b>Użytkownik</b>
		<%= @offer.user.name %>
		<br />
		
	
			</div>
        <div class="offerD">
        	<b>Opis:</b>
        	<br />
        	  <%= @offer.description %>
        </div>
    
        
      
     
         </div>
        <b>Komentarze:</b> </br>
        
         	<% @comments.each do |comment| %>
         	<div class="offer">
         	<i><b>Od: <%= comment.user.name  %></b></i>
        
         	
         	<br>
         	<i><%= comment.content %></i>
         	</br>
         	</br>
         	   <div class="timecomment">
    Dodane <%= time_ago_in_words(comment.created_at) %> temu.
    <% if current_user %>
     	  <% if current_user?(comment.user) || current_user.admin?  %>
   <b> <%= link_to 'Usuń', comment, method: :delete, data: { confirm: 'Jesteś tego pewny?' } %></b>
  <% end %>
  <% end %>
  </div>
         	</div>
         	</br>
         	<% end %>
  			

  
 
  <% if signed_in? %>
  	<%= hidden_field_tag :user_id, current_user.id %>
  	<%end%>
  	
  	<%= form_for(@comment_add) do |f| %>
  	
  	 <b>Treść komentarza:</b>
  	 </br>
  	 </br>
  	 <%= f.hidden_field :offer_id, :value => params[:id] %>
  	
    <%= f.text_area :content %>
    <br />
     <%= f.submit "Dodaj komantarz", class: "btn btn-small btn-primary" %>
  	 <% end %>
  	

  	




</div>
</div>
</div>
